Founder.PKURG.EPM.Test/Founder.PKURG.EPM.Test/Service References/EPMServiceReference/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="CreateProjectApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="itemname" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="blockName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="approvalPerson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateProjectApprovalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateProjectApprovalResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpDateProjectApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="approvalPerson" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpDateProjectApprovalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpDateProjectApprovalResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateProjectApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:CreateProjectApproval" />
  </wsdl:message>
  <wsdl:message name="CreateProjectApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:CreateProjectApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="UpDateProjectApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:UpDateProjectApproval" />
  </wsdl:message>
  <wsdl:message name="UpDateProjectApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:UpDateProjectApprovalResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="CreateProjectApproval">
      <wsdl:input message="tns:CreateProjectApprovalSoapIn" />
      <wsdl:output message="tns:CreateProjectApprovalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpDateProjectApproval">
      <wsdl:input message="tns:UpDateProjectApprovalSoapIn" />
      <wsdl:output message="tns:UpDateProjectApprovalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateProjectApproval">
      <soap:operation soapAction="http://tempuri.org/CreateProjectApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpDateProjectApproval">
      <soap:operation soapAction="http://tempuri.org/UpDateProjectApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateProjectApproval">
      <soap12:operation soapAction="http://tempuri.org/CreateProjectApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpDateProjectApproval">
      <soap12:operation soapAction="http://tempuri.org/UpDateProjectApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://172.25.20.89:8888/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://172.25.20.89:8888/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>